.nav_container {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 4.2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid #e1e1e1 0.1px;
  height: 70px;
  width: 100%;
  margin-bottom: 1rem;
}

.nav_container .nav_logo {
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav_container .nav_actions {
  font-family: "jost", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.2rem;
          column-gap: 1.2rem;
  list-style: none;
  font-size: 1.25rem;
  font-weight: 400;
}

.nav_container .nav_actions li {
  cursor: pointer;
}

.nav_container .nav_actions li .nav_actions_styling {
  color: #ff5d5d;
}

.nav_container .nav_actions li .nav_actions_active {
  color: #05CA94;
}

.nav_container .nav_actions li:hover .nav_actions_styling {
  color: #05CA94;
}

.nav_container .nav_actions .nav_actions_button {
  font-family: "jost", sans-serif;
  font-weight: 600;
  color: #ffff;
  background-color: #ff5d5d;
  border: solid #ff5d5d 1.5px;
  cursor: pointer;
  margin-left: 8px;
  font-size: 1.2rem;
  height: 40px;
  width: 6.5rem;
  border-radius: 1.5rem;
}

.nav_container .nav_actions .nav_actions_button:hover {
  font-family: "jost", sans-serif;
  font-weight: 600;
  color: #ffff;
  background-color: #ff5d5d;
  border: solid #ff5d5d 1.5px;
  cursor: pointer;
  background-color: #05CA94;
  border: solid #05CA94 1.5px;
  font-size: 1.2rem;
  height: 40px;
  width: 6.5rem;
}

.nav_container .nav_actions .nav_burger {
  display: none;
  z-index: 100;
}

.nav_container .nav_drawer {
  z-index: 100;
  display: none;
}

.footer_container {
  padding: 1rem 3rem;
  width: 100%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #eaeaea;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer_container .footer_top_content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_container .footer_lineSeparator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  min-height: 2px;
  background-color: #d8d8d878;
}

.footer_container .footer_bottom_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.searchBarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 34em;
  height: 3.8em;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.14);
}

.searchBarContainer .searchInputContainer {
  width: 100%;
  min-height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 2px 15px;
}

.searchBarContainer .searchInputContainer .searchInput {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 21px;
  color: #12112e;
  font-weight: 500;
  border-radius: 6px;
  background-color: transparent;
}

.searchBarContainer .searchInputContainer .searchInput:focus {
  outline: none;
}

.searchBarContainer .searchInputContainer .searchInput:focus::-webkit-input-placeholder {
  opacity: 0;
}

.searchBarContainer .searchInputContainer .searchInput:focus:-ms-input-placeholder {
  opacity: 0;
}

.searchBarContainer .searchInputContainer .searchInput:focus::-ms-input-placeholder {
  opacity: 0;
}

.searchBarContainer .searchInputContainer .searchInput:focus::placeholder {
  opacity: 0;
}

.searchBarContainer .searchInputContainer .searchInput::-webkit-input-placeholder {
  color: #bebebe;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.searchBarContainer .searchInputContainer .searchInput:-ms-input-placeholder {
  color: #bebebe;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.searchBarContainer .searchInputContainer .searchInput::-ms-input-placeholder {
  color: #bebebe;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.searchBarContainer .searchInputContainer .searchInput::placeholder {
  color: #bebebe;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.searchBarContainer .searchInputContainer .searchIcon {
  color: #bebebe;
  font-size: 27px;
  margin-right: 10px;
  margin-top: 6px;
  vertical-align: middle;
}

.searchBarContainer .searchInputContainer .closeIcon {
  color: #bebebe;
  font-size: 27px;
  margin-right: 10px;
  margin-top: 6px;
  vertical-align: middle;
}

.searchBarContainer .searchInputContainer .closeIcon:hover {
  color: #dfdfdf;
}

.searchBarContainer .lineSeparator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  min-height: 2px;
  background-color: #d8d8d878;
}

.searchBarContainer .searchContent {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  overflow-y: auto;
}

.searchBarContainer .searchContent .loadingWrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_container .contact_main {
  padding: 3rem 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff5d5d;
  border-radius: 10px;
  height: 85vh;
  width: 80%;
  margin: auto;
}

.contact_container .contact_main .contact_main_info {
  color: #ffff;
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.2rem;
}

.contact_container .contact_main .contact_main_info h1 {
  font-family: "jost", sans-serif;
  font-weight: 600;
}

.contact_container .contact_main .contact_main_info h2 {
  font-size: 0.9rem;
}

.contact_container .contact_main .contact_main_info h3 {
  font-size: 0.82rem;
  color: whitesmoke;
}

.contact_container .contact_main .contact_main_info .info_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.8rem;
          column-gap: 0.8rem;
  padding-left: 0.2rem;
}

.contact_container .contact_main .contact_main_info .info_content svg {
  font-size: 1.8rem;
}

.contact_container .contact_main .contact_main_info .info_content .info_content_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: unset;
}

.contact_container .contact_main .contact_main_info .info_content_logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  margin-top: 1rem;
}

.contact_container .contact_main .contact_main_info .info_content_logos svg {
  font-size: 1.7rem;
  cursor: pointer;
}

.contact_container .contact_main .contact_main_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff;
  border-radius: 10px;
  width: 30rem;
  height: 100%;
}

.contact_container .contact_main .contact_main_message form {
  position: relative;
  width: 80%;
}

.contact_container .contact_main .contact_main_message form textarea {
  height: 7rem !important;
}

.contact_container .contact_main .contact_main_message form button {
  font-family: "jost", sans-serif;
  font-weight: 600;
  color: #ffff;
  background-color: #ff5d5d;
  border: solid #ff5d5d 1.5px;
  cursor: pointer;
  width: 9rem;
  position: absolute;
  right: 0;
}

.contact_container .contact_main .contact_main_message form button:hover {
  background-color: #05CA94;
  border: solid #05CA94 1.5px;
}

.home_container .home_main {
  z-index: 10;
  border: solid black 1px;
  min-height: 100vh;
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
}

.home_container .home_main .home_herobanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("https://static.tacdn.com/img2/brand/home/homemar2022_dt_trans@2x.webp");
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 78.8rem;
}
/*# sourceMappingURL=Home.module.css.map */