.add_container {

    .add_main {
        border: solid 1px red;
        height: 100vh;
        width: 90%;
        margin: 2.5rem auto ;
    }
}

@media (max-width: 1112px) {}

@media (max-width: 767px) {}