.add_container {

    .add_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.16);
        height: 100%;
        width: 90%;
        padding: 1.5rem;
        margin: 2.5rem auto ;
        border-radius: 0.25rem;

        .add_form_section {
            display: flex;
            flex-direction: column;
            height: fit-content;
            width: 100%;
            row-gap: 2rem;
            
            h1 {
                font-family: $secondary-font;
            }

            .add_form {
                font-family: $primary-font ;
                display: flex;
                flex-wrap: wrap;
                column-gap: 3rem;
                row-gap: 1.5rem;

                .form_control {
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5rem;

                    .form_label {
                        font-weight: 500;
                    }

                    .form_input {
                        color: $black-color;
                        font-weight: 400;
                        font-family: $primary-font;
                        padding: 0 0.5rem;
                        width: 15rem;
                        height: 2.3rem;
                        font-size: 1rem;
                        border-radius: 0.25rem;
                        border: solid 1.45px $tertiary-color;

                        &:focus {
                            border: solid 1.3px $black-color;
                            outline: $secondary-color;
                        }
                    }

                    .form_input_price {
                        font-family: $primary-font;
                        padding: 0 0.5rem;
                        width: 15rem;
                        height: 3rem;
                        font-size: 1rem;
                        border-radius: 0.25rem;
                        border: solid 1.45px $tertiary-color;

                        &:focus {
                            border: solid 1.3px $black-color;
                            outline: $secondary-color;
                        }
                    }

                    .form_input_about {
                        font-family: $primary-font;
                        padding: 0.5rem ;
                        width: 15rem;
                        height: 10rem;
                        font-size: 1rem;
                        border-radius: 0.25rem;
                        border: solid 1.45px $tertiary-color;

                        &:focus {
                            border: solid 1.3px $black-color;
                            outline: $secondary-color;
                        }
                    }
                }

                .form_button {
                    @include button_styiling;
                    width: 10rem;
                    height: 3rem;
                    font-size: 1.2rem;
                    border-radius: 0.25rem;
                }

                .form_button:hover {
                    @include button_hover;
                }
            }
        }

        .add_image {
            display: flex;
            align-items: center;
            justify-content: center;
            
            height: 100%;
            width: 100%;
        }
    }
}

@media (max-width: 1112px) {

    .add_main {
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column-reverse;
    }

    .add_form_section {
        align-items: center;
    }

    .add_form {
        justify-content: center;
        position: relative;
        margin-bottom: 5.5rem;
    }

    .form_button {
        position: absolute;
        bottom: -5.5rem;
        left: 5rem;
        width: 11rem !important;
    }
}

@media (max-width: 767px) {

    .add_main {
        flex-direction: column-reverse;
        padding: 1rem unset !important;
    }

    .add_form {
        margin-bottom: 0 !important;
    }

    .form_input {
        width: 17rem !important;
    }

    .form_input_about {
        width: 17rem !important;
    }

    .form_input_price {
        width: 17rem !important;
    }

    .form_button {
        position: unset;
        width: 17rem !important;
    }
}