.admin_container {
    width: 90%;
    margin: auto;
    height: 100vh;

    .admin_action {
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;

        h1 {
            font-family: $secondary-font;
        }

        .add_button {
            @include button_styiling;
            width: 11rem;
            height: 3rem;
        }
    
        .add_button:hover {
            @include button_hover;
        }
    }

    .admin_tabs{
        margin-top: 2rem;
    }
}