.details_container {
    height: 100vh;

    .details_main {
        display: flex;
        flex-direction: column;
        width: 90%;
        row-gap: 1rem;
        margin: 2.5rem auto;
        height: fit-content;

        .details_actions {
            column-gap: 1rem;
            height: 100%;
            display:  flex;
            justify-content: space-around;

            .actions_left {
                border-radius: 0.25rem;
                box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.16);
                width: 30%;
                height: fit-content;

                .actions_filter_container {
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5rem;
                    height: fit-content;

                    .actions_filter_button {
                        @include button_styiling;
                        margin-top: 1rem;
                        height: 2.8rem;
                        border-radius: 0.25rem;
                    }

                    .actions_filter_button:hover {
                        @include button_hover;
                    }

                    .actions_datePicker {
                        font-family: $primary-font;

                        label {
                            font-size: 0.8rem;
                        }

                        input {
                            font-family: $primary-font;
                            font-size: 0.9rem;
                        }

                        svg {
                            color: $black-color;
                        }

                        &:focus {
                            border-color: solid 1px black !important;
                            
                        }
                    }

                    .actions_accommodation {
                        margin-bottom: 0.5rem;
                        font-family: $primary-font;
                        display: flex;
                        column-gap: 0.5rem;

                        label {
                            font-size: 0.8rem;
                            font-family: $primary-font ;
                        }

                        input {
                            width: 5.6rem;
                            font-family: $primary-font ;
                            font-size: 0.9rem;
                        }

                        svg {
                            color: $black-color;
                        }

                        &:focus {
                            border-color: solid 1px black !important;
                            
                        }
                    }
                }

                .actions_price {
                    margin-top: 0.5rem;
                    font-family: $secondary-font;
                    font-size: 2rem;
                    padding: 1rem;

                    span {
                        font-size: 2rem;
                        font-weight: 700;
                    }
                }

            }

            .actions_right {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                padding: 1rem;
                border-radius: 0.25rem;
                width: 100%;
                box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.16);

                .actions_right_top {
                    display: flex;
                    justify-content: space-between;
                    column-gap: 0.5rem;

                    
                    .actions_info {
                        row-gap: 0.4rem;
                        
                        span {
                            font-style: italic;
                            display: flex;
                            align-items: center;
                            column-gap: 0.2rem;
                        }
    
                        svg {
                            width: 1.1rem;
                            color: $secondary-color;
                        }
                        
                        h1 {
                            font-family: $secondary-font !important;
                            font-weight: 600 !important;
                            margin: 0 !important;
                        }
                    }

                    button {
                        @include button_styiling;
                        height: 3rem;
                        width: 7rem;
                        border-radius: 0.25rem;
                    }
    
                    button:hover {
                        @include button_hover;
                    }
                }

                .actions_gallary {
                    border-radius: 0.25rem;
                }
            }
        }

        .details_info_container {
            padding: 1rem;
            border-radius: 0.25rem;
            height: 100%;
            box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.16);

            h2 {
                margin: 0;
                margin-bottom: 1rem;
                font-family: $secondary-font;
                font-weight: 600;
            }

            .lineSeperator {
                background-color: $tertiary-color;
                height: 0.03rem;
                width: 100%;
            }

            .details_info {
                display: flex;
                justify-content: space-between;
                column-gap: 3rem;

                p {
                    width: 70%;
                    font-size: 0.9rem;
                    letter-spacing: 0.3px;
                    line-height: 1.82rem;
                    line-break: auto;
                }

                .info_accommodation {
                    margin: 1rem 0;
                    display: flex;
                    flex-direction: column;
                    row-gap: 2.5rem;

                    h3 {
                        margin: 0;
                        font-family: $secondary-font;
                        font-weight: 500;
                    }

                    .info_accommodation_content {
                        display: flex;
                        flex-direction: column;
                        row-gap: 0.7rem;

                        .accommodation_content_item {
                            display: flex;
                            flex-wrap: wrap;
                            row-gap: 1rem;
                            column-gap: 1.5rem;

                            span {
                                display: flex;
                                align-items: center;
                                column-gap: 0.3rem;
                                font-weight: 400;
                                color: $black-color;

                                svg {
                                    color: $secondary-color;
                                    width: 1.1rem;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 1112px) {

    .actions_left {
        width: 50% !important;
    }

    .actions_price {
        margin-top: 0rem !important;
        font-size: 1.4rem !important;

        span {
            font-size: 1.54rem !important;
        }
    }

    .details_info {

        p {
            width: 100% !important;
        }
    }

    .actions_accommodation {
        justify-content: space-between !important;
        flex-wrap: wrap !important;
        row-gap: 0.5rem !important;
    }
}


/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) {

    .details_main {
        row-gap: 1.5rem !important;
    }

    .details_actions {
        flex-direction: column-reverse !important;
        row-gap: 1.5rem;
    }

    .actions_left {
        width: 100% !important;
    }

    .actions_price {
        font-size: 2rem !important;

        span {
            font-size: 2rem !important;
        }
    } 

    .actions_right_top {
        flex-direction: column-reverse;
        row-gap: 0.5rem;
        button {
            align-self: flex-end;
        }
    }

    .actions_accommodation {
        justify-content: space-between !important;
        column-gap: unset !important;
    }

    .details_info_container {

        h2 {
            text-align: center;
        }
    }

    .details_info {
        flex-direction: column;
    }
}