.footer_container {
  background-color: rgb(255, 255, 255) ;
  padding: 1rem 4.5rem;
  height: 250px;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.14);

    .footer_top_content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer_list {
        display: flex;

        ul {
          display: flex;
          list-style: none;
          column-gap: 1.2rem;

        }
      }

      svg {
        font-size: 1.8rem;
        cursor: pointer;
        color: $secondary-color;
      }

      svg:hover {
        color: $primary-color;
        transition: 0.3s;
      }

      .footer_logos {
        display: flex;
        column-gap: 1rem;
      }
    }
    .footer_lineSeparator {
      display: flex;
      min-width: 100%;
      min-height: 1.2px;
      background-color: #d8d8d852;
    }

    .footer_bottom_content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}