.login_container {
    .login_main {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80vh;
        width: 80%;
        margin: 2.5rem auto  2.5rem auto;

        .main_image {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            
        }
        .main_content {
            border-radius: 0.6rem;
            background-color: $secondary-color;
            row-gap: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 100%;

            .content_form {
                background-color:$white-color;
                row-gap: 2rem;
                display: flex;
                flex-direction: column;
                height: 430px;
                width: 85%;
                margin: auto;
                align-items: center;
                justify-content: center;
                border-radius: 0.6rem;

                input {
                    width: 100% !important;
                }

                .login_button {
                    @include button_styiling;
                    height: 2.5rem;
                    border-radius: 0.2rem;
                    width: 6rem;
                }

                .login_button:hover {
                    @include button_hover;
                }
            }
            
        }
    }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 1112px) {

}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) {

}