.login_container {

    .login_main {
        display: flex;
        height: 80vh;
        width: 80%;
        margin: 2.5rem auto  2.5rem auto;

        .main_image {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            
        }
        .main_content {
            border-radius: 1.5rem 1.5rem 0rem 1.5rem;
            background-color: $secondary-color;
            row-gap: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 100%;

            .content_form {
                background-color:$white-color;
                row-gap: 2rem;
                display: flex;
                flex-direction: column;
                height: 440px;
                width: 90%;
                margin: auto;
                align-items: center;
                justify-content: center;
                border-radius: 1.5rem 1.5rem 0rem 1.5rem;

                input {
                    width: 20rem ;
                    outline: none
                }

                .login_button {
                    @include button_styiling;
                    height: 2.5rem;
                    border-radius: 0.2rem;
                    width: 6rem;
                }

                .login_button:hover {
                    @include button_hover;
                }
            }
            
        }
    }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 1112px) {

    .login_main {
        height: 100vh !important;
        flex-direction: column;
        width: 80% !important;
    }

    .main_content {
        padding: 2rem 0;
    }

    .content_form {
        height: fit-content !important;
        padding: 2rem 0;
    }

}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) {

    .login_main {
        height: 100vh !important;
        justify-content: space-around;
        flex-direction: column;
        width: 90% !important;
    }

    .main_content {
        padding: 1.5rem 0;
    }

    .content_form {
        height: fit-content !important;
        padding: 1rem 0 !important;

        input {
            width: 13rem !important;
        }
    }

    .login_button {
        width: 100% !important;
    }
}