@mixin button_styiling {
    font-family: $secondary-font;
    font-weight: 600;
    color: $white-color;
    background-color: $secondary-color;
    border: solid $secondary-color 1.5px;
    cursor: pointer;
    font-size: 1.1rem;
}

@mixin button_hover {
    transition: 0.12s;
    background-color: $primary-color;
    border: solid $primary-color 1.5px;
}