.nav_container {
    z-index: $base-index;
    display:  flex;
    align-items: center;
    height: 65px;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);

    .nav_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;
    }
    
    .nav_logo {
        cursor: pointer;
        height: fit-content;
    }

    .nav_actions {
        font-family: $secondary-font;
        display: flex;
        align-items: center;
        column-gap: 1.2rem;
        list-style: none;
        font-size: 1.25rem;
        font-weight: 400;
        margin: unset;

        li {
            cursor: pointer;

            .nav_actions_styling {
                color: $secondary-color;
            }

            .nav_actions_active {
                color: $primary-color;
            }
        }
        
        li:hover {
            .nav_actions_styling {
                color: $primary-color;
            }
        }
        .nav_actions_button {
            @include button_styiling;
            margin-left: 8px;
            font-size: 1.2rem;
            height: 40px;
            width: 6.5rem;
            border-radius: 0.25rem;
        }

        .nav_actions_button:hover {
            @include button_styiling;
            background-color: $primary-color;
            border: solid $primary-color 1.5px;
            font-size: 1.2rem;
            height: 40px;
            width: 6.5rem;
        }

    }
    .nav_burger {
        display: none;
        z-index: 100;
    }

    .nav_drawer {
        z-index: $base-index;
        display: none;
    }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 1112px) {

    

}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) { 

    .nav_actions_mobile {
        font-family: $secondary-font;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        list-style: none;
        font-size: 1.5rem;
        font-weight: 500;

        li {
            cursor: pointer;
            .nav_actions_styling {
                color: $secondary-color;
            }
        }
        
        li:hover {
            .nav_actions_styling {
                color: $primary-color;
            }
        }
        .nav_actions_button {
            @include button_styiling;
            font-size: 1.3rem;
            height: 50px;
            width: 7.5rem;
            border-radius: 0.25rem;
        }

        .nav_actions_button:hover {
            background-color: $primary-color;
            border: solid $primary-color 1.5px;
        }
    }

    .nav_actions {
        display: none !important;
    }

    .nav_burger {
        display: unset !important;
    }
}