// Colors //

$primary-color: #05CA94;
$secondary-color: #ff5d5d;
$tertiary-color: #e1e1e1;
$quaternary-color: #bebebe;

$white-color: #ffff;
$black-color: #080707;

// Fonts //

$primary-font: "Open Sans", sans-serif;
$secondary-font: "jost", sans-serif;

// z-index //

$high-index:1000;
$base-index:100;
$low-index:10;