// Colors //

$primary-color: #05CA94;
$secondary-color: #ff5d5d;
$tertiary-color: #e1e1e1;

$white-color: #ffff;
$black-color: #080707;

// Fonts //

$primary-font: "Open Sans", sans-serif;
$secondary-font: "jost", sans-serif;
