@import "_variabels.module.scss";
@import "_mixins.module.scss";
@import "_navbar.module.scss";
@import "_footer.module.scss";
@import "_searchBar.module.scss";
@import "_contact.module.scss";
@import "_admin.module.scss";
@import "_explore.module.scss";

.home_container {
  
  .home_main {
    z-index: $low-index;
    min-height: 100vh;
    width: 90%;
    margin: 2.5rem auto 2.5rem auto;

    .home_heroBanner {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("https://static.tacdn.com/img2/brand/home/homemar2022_dt_trans@2x.webp");
      background-repeat: no-repeat;
      background-size: contain;
      height: 400px;
      width: 100%;

    }

    .home_emailBanner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: solid firebrick 1px;
      height: 300px; 

      .home_emailBanner_leftContent {
        width: 70%;
        display: flex;
        flex-direction: column;
        border: solid 1px green;


        .emailBanner_action {
          border: solid red 1px;
          display: flex;
        }
      }

      .home_emailBanner_rightContent {
        border:  solid 1px orchid
      }
    }
  }
  
}



