@import "_variabels.module.scss";
@import "_mixins.module.scss";
@import "_navbar.module.scss";
@import "_footer.module.scss";
@import "_searchBar.module.scss";

.home_container {
  
  .home_main {
    z-index: $low-index;
    border: solid black 1px;
    min-height: 100vh;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;

    .home_herobanner {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("https://static.tacdn.com/img2/brand/home/homemar2022_dt_trans@2x.webp");
      background-repeat: no-repeat;
      background-size: contain;
      height: 400px;
      width: 78.8rem;

    }
  }
  
}



