@import "_variabels.module.scss";
@import "_mixins.module.scss";
@import "_navbar.module.scss";
@import "_footer.module.scss";
@import "_searchBar.module.scss";
@import "_contact.module.scss";
@import "_admin.module.scss";
@import "_explore.module.scss";

.home_container {
  
  .home_main {
    background-color: rgb(248 249 250);
    z-index: $low-index;
    min-height: 100vh;
    width: 90%;
    margin: 2.5rem auto 2.5rem auto;

    .home_heroBanner {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("https://static.tacdn.com/img2/brand/home/homemar2022_dt_trans@2x.webp");
      background-repeat: no-repeat;
      background-size: contain;
      height: 400px;
      width: 100%;

    }

    .home_emailBanner {
      padding: 1rem;
      background-color: $white-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: solid $black-color 1px;
      height: 310px; 

      .home_emailBanner_leftContent {
        display: flex;
        flex-direction: column;


        h2 {
          font-weight: 600;
          font-size: 3rem;
        }

        h3 {
          font-weight: 400;
          font-size: 1.5rem;
        }

        p {
          color: rgb(134 142 150);
          width: 80%;
        }

        .emailBanner_action {
          display: flex;
          
          .actionButton {
            @include button_styiling;
            border-radius: 0rem 0.3rem 0.3rem 0rem;
          }

          .actionButton:hover {
            @include button_hover;
          }
        }
      }

      .home_emailBanner_rightContent {
        border: solid 1px red;
      }
    }
  }
  
}



